/*
Author: Kuba-Jeziorski
Github: https://github.com/Kuba-Jeziorski
*/

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: $second;
}

html {
  @include fullSize;
  scroll-behavior: smooth;
}

body {
  background-color: $first;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  @include defaultFonts;
  font-weight: 400;
  font-family: "Limelight";
}

h1 {
  color: $third;
  font-size: 5.1vw;
}

h2 {
  color: $first;
  font-size: 4.2vw;
}

h2.margined {
  margin: 50px 0;
}

h2.second {
  color: $third !important;
}

ul {
  list-style: none;
  @include defaultFonts;
}

li {
  font-size: 1.7vw;
}

a {
  display: block;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $third;
  }
}

p {
  font-size: 1.7vw;
  @include defaultFonts;
}

img {
  display: block;
}

select,
input,
::placeholder {
  color: $third;
  font-size: 24px;
  background: transparent;
}

select,
input {
  border-radius: 10px;
  border: 1px solid $third;
  cursor: context-menu;
}

select {
  width: 100%;
  padding: 16px 0 16px 10px;
  position: relative;
  z-index: 2;
  appearance: none;
  outline: transparent;
}

option {
  color: $first;
  background: $third;
}

input {
  margin: 15px 0 0;
  padding: 15px;

  &:focus {
    outline: transparent;
  }
}

input[type="submit"] {
  width: 300px;
  height: 64px;
  margin: 40px auto 0;
  padding: 0;
  background: $third;
  color: $first;
  text-align: center;
}

footer {
  background-color: $third;
}

.flex {
  display: flex;

  &-b,
  &-c,
  &-col,
  &-nw,
  &-w {
    @extend .flex;
  }

  &-b {
    justify-content: space-between;
  }

  &-c {
    justify-content: center;
    align-items: center;
  }

  &-col {
    flex-direction: column;
  }

  &-nw {
    flex-wrap: nowrap;
  }

  &-w {
    flex-wrap: wrap;
  }
}

ul.slider {
  width: 100%;
}

.overflowed {
  overflow: hidden;
  width: 100%;
}

#nav {
  background-color: transparent;
  transition: background-color 0.3s linear;

  #menu-toggle {
    margin: 0 0 0 20px;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    display: none;
    position: relative;

    &-bg {
      @include fullerSize;
      @include topLeftCorner;
      display: none;
      position: fixed;
      background: $first;
      z-index: 0;

      ul {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        li {
          font-size: 35px;

          &:not(:last-of-type) {
            margin: 0 0 20px;

            a:hover {
              color: $third;
            }
          }
        }
      }
    }

    input {
      margin: 0;
      padding: 0;
      border: none;
      width: 55px;
      min-height: 53px;
      appearance: none;
      background: transparent;
      cursor: pointer;
      z-index: 2;

      &:not(:checked) ~ span {
        transition: all 0.5s ease-in-out;
      }

      &:checked ~ span {
        rotate: 0;
        transition: rotate 0.5s;

        &:first-of-type {
          rotate: 45deg;
          transform-origin: 5px 0;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          rotate: -45deg;
          transform-origin: -2px 0;
        }
      }

      &:checked ~ div {
        display: block;
      }
    }

    span {
      display: block;
      position: relative;
      z-index: 1;
      top: -28px;
      left: 50%;
      translate: -50% 0;
      width: 44px;
      min-height: 2px;
      background: $third;

      &:first-of-type {
        top: -40px;
      }

      &:last-of-type {
        top: -15px;
      }
    }
  }

  &.navigation-scrolled {
    @include thirdBoxshadow;

    span {
      background: $second !important;
    }
  }
}

.navigation {
  @include topLeftCorner;
  width: 100%;
  height: 135px;
  position: fixed;
  z-index: 9999;

  &-wrapper {
    height: 100%;
    max-width: 1710px;
    margin: 0 auto;
    align-items: center;
  }

  &-logo {
    img {
      width: 280px;
    }
  }

  &-menu {
    align-items: center;

    a.active {
      color: $first !important;
    }
  }

  &-menu li:not(:last-of-type, :first-of-type) {
    padding: 0 25px;
  }

  &-scrolled {
    .register-button {
      background-color: $second;
      transition: background-color 0.3s;

      p {
        color: $first;
      }

      &:hover {
        background-color: $first;

        p {
          color: $second;
        }
      }
    }

    a {
      transition: 0.3s color;

      &:hover {
        color: $first;
      }
    }
  }
}

.nav-anchor {
  scroll-margin-top: 100px;
}

.register-button {
  margin: 0 0 0 15px;
  padding: 10px 20px;
  width: 250px;
  background-color: $third;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $second;
  }

  p {
    color: $first;
  }
}

.section {
  width: 100%;
  position: relative;

  &-photo {
    @include bottomRightCorner;
    position: absolute;
    width: 20%;
    height: 100%;
    mix-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-photo.scheduled {
    width: 64%;
  }

  &-photo.priced {
    width: 40%;
    mix-blend-mode: color-dodge;
  }

  &-photo.two {
    left: 0;
    width: 27%;
    mix-blend-mode: unset;
  }

  &-photo.two.scheduled {
    width: 36%;
    mix-blend-mode: unset;
  }

  &-photo.two.priced {
    width: 20%;
    mix-blend-mode: lighten;
  }

  &-container {
    @include fullSize;
    max-width: 900px;

    p,
    h2 {
      text-align: center;
      color: $first;
    }

    p {
      font-size: 24px;
    }
  }

  &-half {
    width: 50%;
  }
}

.about {
  padding: 65px 0 0;
  background-color: $second;

  p:first-of-type {
    margin: 60px 0;
  }

  &-wrapper {
    position: relative;
    z-index: 1;
    padding: 0 20px;

    &::after {
      @include fullSize;
      @include topLeftCorner;
      position: absolute;
      content: "";
      z-index: -1;
      background: $second;
      opacity: 0.5;
      border-radius: 10px;
    }
  }

  &-values {
    width: 100%;
    background-color: $third;

    &-wrapper {
      max-width: 1050px;
      margin: 0 auto;
      width: 100%;
      padding: 20px 0;
    }

    &-single {
      width: 100%;

      p:first-of-type {
        font-family: "Limelight";
        font-size: 120px;
        margin: 0;
      }
    }
  }

  .social-media {
    margin: 60px 0;

    a {
      margin: 0 10px;

      i {
        font-size: 50px;
        color: $third;
        transition: color 0.3s;
      }

      &:hover {
        i {
          color: $first;
        }
      }
    }
  }
}

.fullsized-section {
  @include fullerSize;
  position: relative;
}

.fullsized-photo {
  @include fullerSize;
  @include topLeftCorner;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
}

.central-container {
  position: absolute;
  padding: 0 0 20px 0;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  max-width: 750px;
  width: 100%;
  height: 65vh;
  background: transparent;
  align-items: center;

  p {
    text-align: center;
  }

  .register-button {
    margin: 20px auto 0;
  }
}

.arrow-scroll {
  width: 55px;
  height: 40px;
  position: relative;
  cursor: pointer;

  &::after {
    @include fullSize;
    position: absolute;
    content: "";
    top: 30%;
    left: 50%;
    translate: -50% -50%;
    background-image: url(../img/arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: scrolling 3s infinite;
  }
}

@keyframes scrolling {
  0% {
    top: 30%;
  }
  50% {
    top: 60%;
  }
}

.testimonials {
  position: relative;

  &::after {
    @include topLeftCorner;
    position: absolute;
    content: "";
    width: 27%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 0) 35%,
      rgba(16, 16, 16, 1) 100%
    );
  }

  ul {
    max-width: 460px;
  }

  &-slider {
    margin: 0 0 140px 0;
    height: auto;

    .slick-list.draggable,
    .slick-track {
      height: 100%;
    }

    .slick-prev,
    .slick-next {
      @include slicksSize;
    }

    .slick-prev {
      left: slickX(1);
    }

    .slick-next {
      right: slickX(1);
    }

    .slick-prev:before,
    .slick-next:before {
      @include slicksSize;
      @include backgroundSetup;
      content: "";
      display: block;
    }

    .slick-prev:before {
      background-image: url(../img/arrow-left.svg);
    }

    .slick-next:before {
      background-image: url(../img/arrow-right.svg);
    }

    li {
      @include fullSize;
      padding: 60px 35px;
      display: flex !important;
      justify-content: space-between !important;
      background-color: rgba(255, 245, 233, 0.39);

      p {
        &.names {
          color: #160c0b;
          font-size: 32px;
          font-weight: 500;
          margin: 0 0 30px;
        }

        &:last-of-type {
          margin: 30px 0 0;
        }
      }
    }
  }
}

.schedule {
  @include fullSize;
  background-color: $second;

  .section {
    &-container {
      max-width: 1500px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }
  }

  ul {
    width: 100%;

    .slick-track {
      @extend .flex-b;
      width: 100%;
    }

    li {
      margin: 0 10px;

      &:first-of-type {
        margin: 0 10px 0 0;
      }

      &:last-of-type {
        margin: 0 0 0 10px;
      }

      .day {
        background-color: $third;
        color: $first;
        text-align: center;
        font-size: 40px;
        padding: 5px 0;
        margin: 0 0 15px 0;

        &-description {
          background: rgba(255, 255, 255, 0.8);
          padding: 35px 0 0 0;
        }

        &-lesson {
          padding: 15px 0;
          border-bottom: 1px solid $first;

          &:first-of-type {
            padding: 0 0 15px 0;
          }

          &:last-of-type {
            padding: 15px 0 150px 0;
            border-bottom: none;
          }
        }
      }
    }
  }

  .register-button {
    margin: 50px 0 35px;
    width: 300px;
    border: 1px solid transparent;
    transition: border 0.3s, background-color 0.3s;

    &:hover {
      border: 1px solid $first;
      background-color: $second;
    }
  }
}

.pricing {
  @include fullSize;
  padding: 50px 0 150px;
  background-color: $first;

  h2 {
    color: $third;
  }

  .section {
    &-container {
      max-width: 1300px;
      margin: 0 auto;
    }
  }

  &-wrapper {
    @include fullSize;
    position: relative;
    z-index: 2;
  }

  &-item {
    padding: 0 50px;
    height: 150px;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;

    &:nth-of-type(2) {
      margin: 30px 0;
    }

    &-title,
    &-cost {
      font-size: 40px;
      font-weight: 700;
      color: $first;
      width: 20%;
    }

    &-description {
      font-size: 24px;
      color: $first;
      width: 20%;
    }

    .register-button {
      padding: 10px 0;
      margin: 0;
      width: 250px;
      text-align: center;
      color: $first;
      font-size: 32px;
    }
  }

  &-slider {
    display: none !important;
    max-width: 380px;

    .slick-prev,
    .slick-next {
      @include slicksSize;

      &::before {
        @include slicksSize;
        @include backgroundSetup;
        content: "";
        display: block;
      }
    }

    .slick-prev {
      left: slickX(3);

      &::before {
        background-image: url(../img/arrow-left.svg);
      }
    }

    .slick-next {
      right: slickX(3);

      &::before {
        background-image: url(../img/arrow-right.svg);
      }
    }
  }

  &-item.slick-slide {
    height: 400px;
    display: flex !important;
  }
}

.our-team {
  @include fullSize;
  padding: 50px 0 150px;
  background-color: $second;

  ul {
    @include fullSize;
    position: relative;

    .slick-prev,
    .slick-next {
      @include slicksSize;
      top: 30%;
    }

    .slick-prev {
      left: slickX(4);
    }

    .slick-next {
      right: slickX(4);
    }

    .slick-prev:before {
      @include fullSize;
      @include backgroundSetup;
      background-image: url(../img/arrow-left-black.svg);
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    .slick-next:before {
      @include fullSize;
      @include backgroundSetup;
      background-image: url(../img/arrow-right-black.svg);
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slick-list.draggable,
  .slick-track {
    height: 100%;
  }

  .team-slider {
    &-wrapper {
      max-width: 80%;
      height: 485px;
      margin: 0;
    }
    &-item {
      margin: 0 20px;
    }
    &-img {
      @include backgroundSetup;
      width: 100%;
      padding: 100% 0 0 0;
    }
    &-name {
      color: $first;
      text-align: center;
      font-size: 32px;
      margin: 30px 0 0 0;
    }

    &-description {
      color: $first;
      text-align: center;
      font-size: 25px;
    }
  }

  .team-contact {
    p {
      color: $first;
      text-align: center;
    }

    a {
      color: $first;
      text-align: center;
      display: inline-block;
      transition: color 0.3s;

      &:hover {
        color: $third;
      }
    }
  }
}

.contact-us {
  @include fullSize;
  background-color: $second;
  padding: 35px 0 0 0;
  position: relative;

  .content {
    max-width: 650px;
    width: 100%;
    padding: 140px 0 100px 100px;

    &-grid {
      padding: 40px 0 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);
      row-gap: 25px;

      :is(p, a) {
        color: $first;
        font-size: 32px;
      }

      a {
        transition: color 0.3s;

        &:hover {
          color: $third;
        }
      }

      .enhanced {
        font-weight: 700;
      }
    }

    &-socials {
      a {
        i {
          color: $first;
          font-size: 50px;
          transition: color 0.3s;
        }

        &:first-of-type {
          margin: 0 10px 0 0;
        }

        &:hover {
          i {
            color: $third;
          }
        }
      }
    }
  }

  h2 {
    padding: 0 0 30px 0;
    border-bottom: 1px solid $first;
    color: $first;
  }
}

.modal {
  @include fullSize;
  @include topLeftCorner;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &-wrapper {
    position: relative;
    max-width: 600px;
    width: 100%;
    background-color: $second;
  }

  &-content {
    @include fullSize;

    position: relative;
    padding: 65px 40px 40px;

    .select-wrapper {
      position: relative;
      width: 100%;

      &::after {
        @include backgroundContainSetup;
        content: "";
        position: absolute;
        right: 20px;
        top: 22px;
        width: 20px;
        height: 20px;
        background-image: url(../img/arrow-down.svg);
        background-size: contain;
        z-index: 1;
      }
    }
  }

  &-closing-button {
    position: absolute;
    top: -30px;
    right: 0;
    width: 20px;
    aspect-ratio: 1;
    cursor: pointer;

    &::after {
      @include backgroundSetup;
      position: absolute;
      content: "";
      background-image: url(../img/close.svg);
      width: 20px;
      aspect-ratio: 1;
      top: -1px;
      right: -1px;
    }
  }

  &-image {
    @include bottomRightCorner;
    @include backgroundRightSetup;
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 4;
  }

  &-inner {
    position: relative;
    z-index: 5;

    & > p {
      font-weight: 500;
      font-weight: 700;
    }

    :is(p, span) {
      color: $first !important;
      text-align: center;
    }
  }

  &-middle {
    margin: 15px 0;

    span {
      display: inline;
    }
  }

  #modal-validated {
    @include fullSize;
    @include topLeftCorner;
    background: $second;
    position: absolute;
    z-index: 3;
    display: none;
  }
}

.footer {
  &-wrapper {
    max-width: 1710px;
    margin: 0 auto;
    padding: 65px 0;

    h4,
    p,
    a {
      text-align: center;
      font-size: 32px;
      margin: 0;
    }

    a {
      transition: 0.3s color;
    }

    a:hover {
      color: $first;
    }

    h4 {
      margin: 0 0 10px 0;
    }
  }

  &-top {
    margin: 0 0 60px 0;
    padding: 0 0 45px 0;
    justify-content: space-around;
    border-bottom: 1px solid $second;

    .social-media {
      gap: 10px;

      a {
        i {
          color: $second;
          font-size: 50px;
          transition: color 0.3s;
        }

        &:hover {
          i {
            color: $first;
          }
        }
      }
    }
  }

  &-bottom {
    &-logo {
      max-width: 280px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 80px;
  }

  li {
    font-size: 24px;
  }

  p {
    font-size: 24px;
  }
}

@media (max-width: 1550px) {
  li {
    font-size: 24px;
  }

  p {
    font-size: 22px;
  }

  .schedule {
    .section-container {
      max-width: 1200px;
    }
  }

  .day {
    font-size: 32px;
  }

  .pricing {
    .section-container {
      max-width: 1200px;
    }

    &-item {
      &-title,
      &-cost {
        font-size: 34px;
      }

      &-description {
        font-size: 22px;
      }

      .register-button {
        font-size: 28px;
      }
    }
  }

  .our-team {
    padding: 50px 0 0;

    .team-slider {
      &-name {
        font-size: 28px;
      }

      &-description {
        font-size: 22px;
      }

      &-wrapper {
        height: 420px;
      }
    }
  }

  .contact-us {
    .content {
      &-grid {
        :is(p, a) {
          font-size: 26px;
        }
      }

      &-socials {
        a {
          i {
            font-size: 35px;
          }
        }
      }
    }
  }

  .footer {
    h4,
    p,
    a {
      font-size: 24px;
    }
  }
}

@media (max-width: 1500px) {
  li {
    font-size: 22px;
  }

  .navigation,
  .footer {
    &-wrapper {
      max-width: 1250px;
    }
  }

  .footer {
    &-wrapper {
      :is(h4, p, a) {
        font-size: 26px;
      }
    }
  }

  .section-container {
    p {
      font-size: 22px;
    }
  }

  .schedule {
    ul {
      li {
        .day {
          font-size: 36px;
        }
      }
    }
  }

  .testimonials {
    &-slider {
      li {
        p {
          &.names {
            font-size: 28px;
            margin: 0 0 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .section {
    &-container {
      max-width: 600px;

      p {
        font-size: 20px;
      }
    }
  }

  .about {
    padding: 45px 0 0;

    p {
      &:first-of-type {
        margin: 30px 0;
      }
    }
  }

  .schedule {
    ul {
      li {
        .day {
          font-size: 32px;
        }
      }
    }
  }

  .pricing {
    padding: 0 0 150px;

    .section {
      &-container {
        max-width: 900px;
      }
    }

    &-item {
      padding: 0 25px;

      &-title,
      &-cost {
        font-size: 32px;
      }

      &-description {
        font-size: 20px;
      }

      .register-button {
        width: 220px;
        font-size: 22px;
      }
    }
  }

  .our-team {
    padding: 0;
  }

  .contact-us {
    .content-grid {
      :is(p, a) {
        font-size: 24px;
      }
    }
  }

  .footer {
    &-grid {
      display: grid;
      row-gap: 40px;

      &-one {
        grid-column: 1;
        grid-row: 1/2;
      }

      &-two {
        grid-column: 1;
        grid-row: 2/2;
      }

      &-three {
        grid-column: 2;
        grid-row: 1/2;
      }

      &-four {
        grid-column: 2;
        grid-row: 2/2;
      }

      &-five {
        grid-column: 3;
        grid-row: 1/2;
      }
    }
  }
}

@media (max-width: 1300px) {
  .navigation,
  .footer {
    &-wrapper {
      max-width: 1150px;
    }
  }

  .navigation {
    &-menu {
      li {
        padding: 0 15px;
      }
    }
  }

  .register-button {
    width: 200px;
    margin: 0 0 0 10px;
  }

  .about {
    &-values {
      &-single {
        p {
          &:first-of-type {
            font-size: 100px;
          }
        }
      }

      &-wrapper {
        max-width: 850px;
      }
    }
  }

  .section {
    &-container {
      p {
        font-size: 18px;
      }
    }
  }

  .schedule {
    ul {
      li {
        .day {
          font-size: 28px;
        }
      }
    }

    .section {
      &-container {
        max-width: 100%;
        padding: 0 50px;
      }
    }
  }

  .our-team {
    .team-slider {
      &-name {
        font-size: 24px;
      }

      &-description {
        font-size: 20px;
      }
    }
  }

  .contact-us {
    .content-grid {
      :is(p, a) {
        font-size: 22px;
      }
    }

    .content {
      max-width: 100%;
      padding: 100px 50px 100px 100px;
    }
  }

  .footer {
    &-wrapper {
      :is(h4, p, a) {
        font-size: 24px;
      }

      .social-media {
        a {
          i {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .overflowed {
    overflow: unset;
  }

  .navigation,
  .footer {
    &-wrapper {
      max-width: 100%;
      padding: 0 50px;
    }
  }

  .footer {
    &-wrapper {
      padding: 50px;
    }
  }

  .schedule {
    .section {
      &-container {
        max-width: 900px;
        padding: 0;
      }
    }

    &-slider {
      .slick-prev,
      .slick-next {
        @include slicksSize;

        &::before {
          @include slicksSize;
          @include backgroundSetup;
          content: "";
          display: block;
        }
      }

      .slick-prev {
        left: slickX(5);

        &::before {
          background-image: url(../img/arrow-left.svg);
        }
      }

      .slick-next {
        right: slickX(5);
        &::before {
          background-image: url(../img/arrow-right.svg);
        }
      }
    }
  }

  .our-team {
    .team {
      &-slider {
        &-wrapper {
          max-width: 700px;
          height: auto;

          ul {
            .slick-prev,
            .slick-next {
              top: 40%;
            }
          }
        }

        &-item {
          margin: 0 40px;
        }
      }

      &-contact {
        margin: 80px 0 30px;
      }
    }
  }
}

@media (max-width: 1100px) {
  #nav {
    .navigation {
      &-menu {
        display: none;
      }
    }

    #menu-toggle {
      display: flex;
    }
  }

  .about {
    &-values {
      &-wrapper {
        max-width: 650px;
        height: auto;
        padding: 20px 0;
      }

      &-single {
        justify-content: unset;

        p {
          text-align: center;
          font-size: 20px;

          &:first-of-type {
            font-size: 80px;
          }
        }
      }
    }
  }

  .pricing {
    &-item {
      &-description {
        width: 25%;
      }

      &-cost {
        width: 10%;
      }
    }
  }

  .schedule {
    &-slider {
      .slick-next {
        right: slickX(8);
      }

      .slick-prev {
        left: slickX(8);
      }
    }
  }

  .contact-us {
    .content {
      padding: 100px 20px 100px 50px;
    }
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 6.5vw;
  }

  h2 {
    font-size: 5.5vw;
  }

  .section {
    &-photo.two {
      width: 40%;
      z-index: -1;
    }

    &-photo.priced {
      background-position: right;
    }

    &-photo.priced.two,
    &-photo.priced {
      width: 50%;
      z-index: 1;
    }
  }

  .testimonials {
    &::after {
      width: 40%;
      z-index: -1;
    }
  }

  .about {
    &-values {
      &-wrapper {
        flex-wrap: wrap;
        max-width: 400px;
      }

      &-single {
        width: 45%;

        p {
          margin: 0 !important;
        }
      }
    }
  }

  .schedule {
    .section {
      &-container {
        max-width: 400px;
      }

      &-photo.scheduled {
        width: 100%;
        background-size: cover;
      }
    }

    &-slider {
      .slick-next {
        right: slickX(5);
      }

      .slick-prev {
        left: slickX(5);
      }
    }

    ul {
      li {
        margin: 0;

        .day {
          &-lesson {
            width: 50%;
          }
        }
      }
    }
  }

  .section {
    &-container {
      max-width: 400px;
    }

    &-photo {
      width: 30%;
    }

    &-photo.scheduled {
      background-position: right;
    }

    &-photo.scheduled.two {
      width: 50%;
    }
  }

  .pricing {
    padding: 0;

    .section {
      &-container {
        max-width: 100%;
        padding: 0 50px 150px;
      }
    }
  }
}

@media (max-width: 900px) {
  .fullsized {
    &-photo {
      opacity: 0.5;
    }
  }

  .testimonials {
    &-slider {
      li {
        background-color: rgba(255, 245, 233, 0.5);
      }

      .slick-next {
        right: slickX(2);
      }

      .slick-prev {
        left: slickX(2);
      }
    }
  }

  .pricing {
    &-item {
      &-title {
        width: 30%;
        font-size: 28px;
      }

      &-cost {
        font-size: 28px;
      }

      &-description {
        font-size: 18px;
      }

      .register {
        &-button {
          width: 180px;
        }
      }
    }
  }

  .contact-us {
    flex-wrap: wrap;
    padding: 0;

    h2 {
      text-align: center;
    }

    .section {
      &-half {
        width: 100%;

        .content {
          padding: 50px;
        }
      }
    }

    #map {
      height: 50vh;
    }
  }

  .our-team {
    ul {
      .slick-prev {
        left: slickX(9);
      }

      .slick-next {
        right: slickX(9);
      }
    }

    .team {
      &-contact {
        margin: 50px 0 20px;
      }
    }
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 8.5vw;
  }

  h2 {
    font-size: 6.5vw;
  }

  p {
    font-size: 18px;
  }

  .about {
    .section {
      &-container {
        margin: 0 0 50px;
      }
    }
  }

  .our-team {
    .team {
      &-slider {
        &-item {
          margin: 0 30px;
        }

        &-name {
          font-size: 22px;
        }

        &-description {
          font-size: 18px;
        }

        &-wrapper {
          max-width: 550px;

          ul {
            .slick-next,
            .slick-prev {
              top: 35%;
            }
          }
        }
      }
    }
  }

  .pricing {
    &-wrapper {
      display: none;
    }

    &-slider {
      display: block !important;
    }

    &-item {
      margin: 0 !important;
      padding: 50px 25px;
      justify-content: space-around;

      &-title,
      &-cost {
        width: 100%;
      }

      &-description {
        width: 50%;
      }

      .register {
        &-button {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navigation,
  .footer-bottom {
    &-logo {
      img {
        width: 180px;
      }
    }
  }

  .section {
    &-photo {
      width: 100%;
      background-size: contain;
      background-position: right;
    }

    &-photo.two {
      width: 50%;
    }
  }

  .register {
    &-button {
      width: 175px;
    }
  }

  .central {
    &-container {
      &-description {
        font-size: 24px;
      }
    }
  }

  .about {
    &-values {
      &-wrapper {
        position: relative;
      }
    }
  }

  .testimonials {
    &-slider {
      .slick-prev {
        left: slickX(6);
      }

      .slick-next {
        right: slickX(6);
      }

      li {
        p.names {
          font-size: 24px;
          margin: 0 0 10px;
        }
      }
    }

    &::after {
      width: 50%;
    }
  }

  .schedule {
    &-slider {
      .slick-next {
        right: slickX(6);
      }

      .slick-prev {
        left: slickX(6);
      }
    }
  }

  .pricing {
    &-slider {
      .slick-next {
        right: slickX(6);
      }

      .slick-prev {
        left: slickX(6);
      }
    }
  }

  .our-team {
    .team {
      &-slider {
        &-wrapper {
          max-width: 450px;

          ul {
            .slick-prev {
              left: slickX(7);
            }

            .slick-next {
              right: slickX(7);
            }
          }
        }

        &-item {
          margin: 0 15px;
        }
      }
    }
  }

  .contact-us {
    .content {
      &-grid {
        :is(p, a) {
          font-size: 20px;
        }
      }
    }
  }

  .modal {
    &-wrapper {
      max-width: 100%;
      margin: 0 50px;
    }

    &-image {
      width: 100%;
      background-size: cover;
    }

    #modal-validated {
      padding: 0 20px;
    }
  }

  .footer {
    &-wrapper {
      :is(h4, p, a) {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 7.5vw;
  }

  select,
  input,
  ::placeholder {
    font-size: 20px;
  }

  .fullsized-photo {
    width: 75%;
    height: 50vh;
    bottom: 0;
    top: auto;
  }

  .central {
    &-container {
      transform: unset;
      translate: -50% -50%;
      height: 50vh;
    }
  }

  .central {
    &-container {
      max-width: 100%;
    }
  }

  #nav {
    #menu-toggle {
      width: 30px;
      height: 30px;

      input {
        width: 30px;
        min-height: 30px;
      }

      span {
        width: 30px;
        top: -17px;

        &:first-of-type {
          top: -25px;
        }

        &:last-of-type {
          top: -10px;
        }
      }

      &-bg {
        ul {
          li {
            font-size: 30px;
          }
        }
      }
    }
  }

  .navigation {
    height: 70px;

    .register {
      &-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
      }
    }

    &-scrolled {
      .register {
        &-button {
          @include thirdBoxshadow;
        }
      }
    }
  }

  .section {
    &-photo {
      width: 70%;
      height: 55%;
      bottom: auto;
      top: 20%;
    }

    &-photo.two {
      @include fullSize;
      top: 0;
      background-size: cover;
    }

    &-container {
      max-width: 350px;
    }
  }

  .about {
    &-values {
      position: relative;

      &-wrapper {
        max-width: 350px;
      }

      &-single {
        width: 48%;

        p {
          font-size: 18px;
        }

        p:first-of-type {
          font-size: 60px;
        }
      }
    }
  }

  .testimonials {
    &::after {
      width: 100%;
    }
  }

  .schedule {
    .section {
      &-photo {
        height: 100%;
        top: 0;
      }

      &-container {
        max-width: 350px;
      }
    }
  }

  .pricing {
    &-slider {
      max-width: 350px;
    }
  }

  .our-team {
    .team {
      &-slider {
        &-wrapper {
          max-width: 250px;
        }
      }
    }
  }

  .footer {
    &-top {
      div {
        grid-column: 1;
        grid-row: unset;
      }
    }

    &-bottom {
      &-logo {
        max-width: unset;
        margin: 0 auto 50px;
      }
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 10vw;
  }

  select,
  input,
  ::placeholder {
    font-size: 18px;
  }

  input[type="submit"] {
    width: 80%;
    height: 50px;
  }

  p.central {
    font-size: 22px;
  }

  .arrow {
    &-scroll {
      width: 42px;
      height: 30px;
    }
  }

  .section {
    &-container {
      max-width: 300px;

      p {
        font-size: 16px;
      }
    }
  }

  .about {
    .social {
      &-media {
        margin: 30px 0 15px;
      }
    }

    &-values {
      &-single {
        width: 50%;
      }
    }
  }

  .testimonials {
    &-slider {
      .slick-prev,
      .slick-next {
        @include slickSizeSmall;

        &::before {
          @include slickSizeSmall;
        }
      }
    }
  }

  .schedule {
    &-slider {
      .slick-prev,
      .slick-next {
        @include slickSizeSmall;

        &::before {
          @include slickSizeSmall;
        }
      }
    }

    .section {
      &-container {
        max-width: 300px;
      }
    }
  }

  .pricing {
    &-slider {
      max-width: 300px;

      .slick-prev,
      .slick-next {
        @include slickSizeSmall;

        &::before {
          @include slickSizeSmall;
        }
      }
    }

    &-item {
      &-description {
        width: 100%;
      }
    }
  }

  .our-team {
    .team {
      &-slider {
        &-wrapper {
          ul {
            .slick-prev,
            .slick-next {
              @include slickSizeSmall;

              &::before {
                @include slickSizeSmall;
              }
            }
          }
        }
      }
    }
  }

  .contact-us {
    .content {
      &-grid {
        &-description {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }
  }

  .modal {
    &-content {
      padding: 30px;
    }
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 45px;
  }

  .social {
    &-media {
      a {
        i {
          font-size: 40px;
        }
      }
    }
  }

  .testimonials {
    &-slider {
      .slick-prev {
        left: slickX(8);
      }

      .slick-next {
        right: slickX(8);
      }
    }
  }

  .schedule {
    &-slider {
      .slick-next {
        right: slickX(8);
      }

      .slick-prev {
        left: slickX(8);
      }
    }
  }

  .pricing {
    &-slider {
      .slick-next {
        right: slickX(8);
      }

      .slick-prev {
        left: slickX(8);
      }
    }

    &-item {
      .register {
        &-button {
          width: 150px;
          font-size: 18px;
        }
      }
    }
  }

  .contact-us {
    .content {
      &-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;

        &-description {
          align-items: center;
          justify-content: center;
        }

        :is(p, a) {
          text-align: center;
        }

        p.enhanced {
          &:not(:first-of-type) {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 40px;
  }

  select,
  input,
  ::placeholder {
    font-size: 16px;
  }

  #nav {
    #menu-toggle {
      &-bg {
        ul {
          li {
            font-size: 25px;
          }
        }
      }
    }
  }

  .navigation,
  .footer-bottom {
    &-logo {
      img {
        width: 130px;
      }
    }
  }

  .slick-prev,
  .slick-next {
    top: auto !important;
    bottom: -80px;
  }

  .slick-prev {
    left: slickX(10) !important;
  }

  .slick-next {
    right: slickX(10) !important;
  }

  .schedule {
    .register-button {
      margin: 80px 0 35px;
    }

    &-slider {
      li {
        p {
          font-size: 20px;
        }
      }
    }
  }

  .our-team {
    .team {
      &-contact {
        margin: 80px 0 20px;
      }

      &-slider {
        &-name {
          font-size: 22px;
        }
      }
    }
  }

  .contact-us {
    #map {
      height: 40vh;
    }
  }
}

@media (max-width: 375px) {
  .about {
    &-values {
      &-wrapper {
        max-width: 100%;
        padding: 20px 50px;
      }

      &-single {
        p {
          font-size: 14px;

          &:first-of-type {
            font-size: 55px;
          }
        }
      }
    }
  }

  .pricing {
    &-item {
      padding: 25px;
    }
  }

  .our-team {
    .team {
      &-contact {
        width: 100%;
        padding: 0 50px;
      }
    }
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 32px;
  }

  p.central {
    font-size: 20px;
  }
}
